Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
LD50Builds/Wally's Jump.zip
*.log
*.exe
LD50Builds/Wally's Jump/WindowsNoEditor/LudumDare50/Content/Paks/LudumDare50-WindowsNoEditor.pak
